<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808654829066-tvn6frsamkfd4rfm3o2sun9ho5r6sdmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808654829066-tvn6frsamkfd4rfm3o2sun9ho5r6sdmp</string>
	<key>API_KEY</key>
	<string>AIzaSyAtqBU57uWXJwtw18-SE7i7IXCEOpRYIJE</string>
	<key>GCM_SENDER_ID</key>
	<string>808654829066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.engeplus.engeplus</string>
	<key>PROJECT_ID</key>
	<string>engeplusapp</string>
	<key>STORAGE_BUCKET</key>
	<string>engeplusapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808654829066:ios:b1ebe2eb612db8717f51f3</string>
</dict>
</plist>