ion-title.title-large {
  color: var(--ion-color-primary);
  font-weight: bolder;
  font-size: 22px;
  padding: 0 10px;
  height: auto;
  transform-origin: left top;
  bottom: auto;
  align-items: flex-start;
}
ion-title.title-medium {
  color: var(--ion-color-primary);
  font-weight: 400;
  font-size: 22px;
  text-align: start;
  padding: 0 12px;
  height: auto;
  transform-origin: left top;
  bottom: auto;
  align-items: flex-start;
}
ion-card.vencido {
  --background: linear-gradient(107deg, var(--ion-color-primary) 20%, var(--ion-color-danger) 90%);
  ion-card-title {
    color: var(--ion-color-danger) !important;
  }
}
ion-card:active {
  transform: none !important;
}
ion-card {
  --background: var(--ion-color-primary-gradient);
  color: var(--ion-color-primary-yellow);
  border-radius: 10px;
  ion-card-header {
    padding-bottom: 5px;
    ion-card-title,
    ion-card-subtitle {
      color: var(--ion-color-primary-yellow);
      span {
        font-weight: 200;
        vertical-align: top;
        color: var(--ion-color-primary-yellow);
      }
    }
    ion-card-title {
      font-size: 22px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    ion-card-subtitle {
      font-size: 12px;
      font-weight: lighter;
    }
  }
  ion-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ion-button {
      font-weight: 200;
    }
    ion-button:active {
      transform: scale(0.9);
    }
  }
}
ion-card:active {
  transform: scale(0.9);
}
