<ion-content>
  <div class="scroll-termos">

    <h5>{{titulo}}</h5>

    <p [innerHTML]="mensagem"></p>
    <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
      molestiae saepe nihil minima quas magni ratione. Nesciunt voluptate ullam, ipsam vel fugit, ad quis aut sint
      quisquam, a reiciendis? Voluptates possimus assumenda magnam similique ipsam id debitis? Ullam quaerat nisi at rem
      eligendi eum illo odit ipsum impedit minus. Alias similique molestias commodi aliquam voluptatem necessitatibus
      rerum ducimus consequatur ullam delectus quibusdam aliquid impedit dolorem ab aspernatur quaerat dolor ipsa,
      praesentium quia eos cum voluptatum expedita? Nisi debitis suscipit dolorem saepe eum magnam, magni, perspiciatis
      sit fuga quia veritatis reprehenderit aspernatur et alias dicta at mollitia incidunt consectetur consequatur
      voluptas? Suscipit odio soluta assumenda vero aliquid nobis illo modi veritatis ratione. Dolor quam minima fuga
      cupiditate consequatur ipsa aperiam soluta, repellat, recusandae quidem quis maxime hic temporibus ipsam sed
      voluptate dignissimos earum eius quae corporis quos non odio sequi. Corporis iusto, minus dolores adipisci
      repudiandae iure ab esse architecto tempore soluta quae sint fuga velit aperiam ipsam tenetur! Eveniet ratione
      voluptatibus molestiae nemo impedit neque perferendis blanditiis similique quis cupiditate rerum laborum dolore
      provident incidunt nisi nobis asperiores voluptates optio est distinctio animi, dicta non odio iste! Voluptatum
      perferendis ut nostrum laboriosam molestias repellendus tempore corrupti nesciunt, eligendi, explicabo rerum
      aperiam inventore quod reiciendis facere iure ducimus alias consequuntur eos! Similique iusto nam quae hic, quod
      neque beatae doloribus odio illo vel laudantium. Quae autem eveniet iure pariatur, assumenda facere exercitationem
      officiis, officia maiores a est natus corporis! Provident odit id incidunt, totam temporibus, ex magnam, fuga
      similique quo voluptas hic voluptates sequi vitae aspernatur! Facere, alias repellendus, iure, provident nulla
      iste sequi enim molestiae ea at beatae blanditiis consequatur laborum? Perspiciatis qui unde omnis quia dolor
      velit repellendus officia consequuntur voluptatibus, labore nostrum cum, vero, tenetur beatae voluptates quam rem
      blanditiis repellat aliquam? Corrupti sint nisi explicabo voluptas porro? Quisquam modi molestias earum eos
      distinctio sunt quae illum totam. Necessitatibus alias ea voluptas possimus quaerat temporibus iusto et quod
      tempore dolor cum culpa ullam veritatis molestias impedit unde, vero libero consequuntur. Officiis corporis magni
      maiores ab voluptate molestias perspiciatis! Officia sed distinctio, voluptate officiis debitis earum illo eaque
      quod impedit cupiditate, quas temporibus corporis, provident culpa alias aliquid tempora id autem excepturi saepe
      animi tenetur? Ad itaque repellat repellendus eveniet molestias consequatur sint, similique laboriosam expedita
      ipsum mollitia sed, ut sapiente, odio numquam. Consequuntur dolorem asperiores eius amet minima delectus earum
      laborum, tempora quidem fugit est deserunt nulla corporis nemo fugiat itaque molestiae, quisquam aliquid eos?
      Tenetur quis culpa tempore, deserunt pariatur voluptates sapiente. Voluptatem totam est nostrum maiores
      praesentium aliquam, unde, repudiandae reiciendis nam corporis odit voluptatum quae sequi nisi in, at non?
      Voluptatem nam, molestias iusto minus corrupti dolorum esse repellat, illum repellendus quo, labore quae
      blanditiis eius enim hic numquam voluptate at illo. Cum tenetur voluptatem dolore fugiat ad repellat laborum vero.
      Consequuntur, fugit amet excepturi eligendi officiis nemo, voluptatum quam, dignissimos maxime aliquam rem alias
      repellendus! Molestiae facere ea dolorem veritatis neque sint necessitatibus! Velit id officiis autem laudantium
      molestias obcaecati nisi tempore molestiae, rerum iste, doloremque amet! Voluptates voluptas odit quaerat deleniti
      suscipit, est asperiores nam ad optio, laborum, libero sint voluptate magnam? Quisquam culpa ad aliquam obcaecati,
      quibusdam reiciendis aspernatur qui necessitatibus dolorum? Tenetur in quis exercitationem? Qui, dolore minima
      autem ex iure vitae! Ex aut quia numquam aperiam aliquam! Quaerat, quisquam deleniti quos impedit, aliquid
      consequuntur, molestiae nobis obcaecati at nulla possimus maiores dolorem a rerum! Rerum consequuntur numquam
      aspernatur repellendus libero, ea accusantium hic voluptatum itaque ipsam at dolorum, sapiente soluta iure quia?
      Similique facere et vel facilis obcaecati in repudiandae ea mollitia, sequi excepturi dignissimos explicabo,
      asperiores quasi, voluptatum enim harum aliquam aspernatur? Facere saepe ut rerum quo minus modi asperiores.
      Labore molestias, assumenda nobis ducimus dolores tenetur similique repellat recusandae eius sint natus magnam
      numquam, veritatis neque aperiam perferendis aliquid maxime expedita sequi soluta voluptate culpa mollitia eos
      saepe! Qui asperiores, et sed voluptate nisi commodi possimus neque beatae quia quas similique cum doloremque
      distinctio ipsa in animi! Quas, aperiam. Suscipit harum ea temporibus, veniam ex provident autem aperiam
      doloremque incidunt expedita natus dolore, commodi voluptates odio? Harum ducimus voluptatum magni dicta. Eligendi
      possimus qui laborum cupiditate, soluta laboriosam corrupti veritatis id dolore quisquam obcaecati harum quibusdam
      quam voluptas praesentium recusandae facere earum vitae culpa magnam deleniti pariatur facilis omnis minus?
      Accusantium dolore animi hic impedit voluptatibus possimus sit quos sint culpa eius corporis, dolorem totam
      laboriosam atque nisi, velit recusandae quia est odit amet magni ad? Cumque vel molestiae nihil beatae esse sit
      eligendi expedita suscipit ea, ipsa, in nemo quisquam omnis hic ad aspernatur provident fuga laudantium veniam
      similique, explicabo quasi voluptatibus? Dignissimos, nostrum tempora. Ad, numquam! Illo quis ex minus repellendus
      reprehenderit vel, excepturi, adipisci voluptate aliquid dicta obcaecati eum optio ut nemo voluptas possimus nihil
      alias iusto impedit! Dicta aperiam excepturi quos nostrum eaque ipsam. Tenetur, maxime tempore ipsa nisi doloribus
      excepturi incidunt esse, voluptatibus quo, necessitatibus perspiciatis eligendi sunt officiis veritatis aliquam
      suscipit pariatur quis fugit provident repellat maiores. Recusandae quasi ab, natus modi, accusamus nihil odio
      assumenda voluptatem pariatur quidem architecto sed! Sunt labore similique repellendus, sapiente quia velit porro.
      Quae modi sed quia quasi atque alias totam dignissimos eum aliquid sint? Quas enim commodi obcaecati, repellat ut
      explicabo nostrum error voluptates perferendis, temporibus consequatur? Maxime accusantium error nemo possimus eos
      perferendis eveniet in quisquam. Dicta laboriosam incidunt ad animi omnis nostrum exercitationem neque officiis
      veritatis non nihil voluptatibus eligendi itaque minima, alias, tempora quas suscipit quasi sed amet accusamus,
      quia iste. Excepturi neque quas autem pariatur officia porro nesciunt fuga id dicta, ab quod necessitatibus eum
      ullam dolores cumque assumenda, labore laborum minima suscipit obcaecati temporibus, distinctio saepe aut? Quas
      repellat itaque ipsam ad amet nemo ea harum neque asperiores animi laudantium, aut consectetur quasi natus
      corporis vero earum dolore inventore tenetur eveniet impedit dignissimos! Fugit aliquam eum, architecto fugiat
      molestiae ullam libero corrupti quibusdam nobis ea corporis odit accusantium harum laudantium assumenda nemo!
      Consequatur non voluptates aperiam sit ab soluta id odit. Qui provident explicabo excepturi delectus
      exercitationem, laboriosam amet officiis.</p> -->
  </div>
  <div class="footer">

    <div class="button-aceitar">
      <div class="button">
        <ion-button mode="md"
                    fill="outline"
                    (click)="this.fechar()">
          Voltar
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>