<!-- <ion-content> -->

<ion-item color="transparent">
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="senha.senhaAntiga"
               type="password"
               required></ion-input>
</ion-item>

<ion-item color="transparent"
          *ngIf="isChangePassword">
    <ion-label position="floating">Nova senha</ion-label>
    <ion-input [(ngModel)]="senha.senhaNova"
               type="password"
               required></ion-input>
</ion-item>

<ion-item color="transparent"
          *ngIf="isChangePassword">
    <ion-label position="floating">Confirmar</ion-label>
    <ion-input [(ngModel)]="senha.confirmarSenha"
               type="password"
               required></ion-input>
</ion-item>

<ion-item color="transparent"
          lines="none">
    <ion-button type="submit"
                expand="block"
                color="primary"
                [disabled]="isChangePassword ? (senha.senhaAntiga && (senha.senhaNova != senha.confirmarSenha)) : false"
                (click)="alterarSenha()"
                class="btn-login">Confirmar</ion-button>
</ion-item>

<ion-button id="esqueci"
            fill="clear"
            *ngIf="isChangePassword"
            (click)="fechar()"
            expand="block">Cancelar</ion-button>

<!-- </ion-content> -->