<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971381581234-9j45hf6b1fbn6l9mfv1u3e8gigajcnod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971381581234-9j45hf6b1fbn6l9mfv1u3e8gigajcnod</string>
	<key>API_KEY</key>
	<string>AIzaSyBcPQeiK3ERkZA6H6ohmj_mZOENWHmMQUs</string>
	<key>GCM_SENDER_ID</key>
	<string>971381581234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.woconstrutora.woconstrutora</string>
	<key>PROJECT_ID</key>
	<string>wo-construtora</string>
	<key>STORAGE_BUCKET</key>
	<string>wo-construtora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971381581234:ios:7a0f33c6aa04c65e41f0ab</string>
</dict>
</plist>