ion-title.title-large {
  color: var(--ion-color-primary);
  font-weight: bolder;
  font-size: 22px;
  padding: 0 10px;
  transform-origin: left top;
  bottom: auto;
}
ion-title.title-medium {
  color: var(--ion-color-primary);
  font-weight: 400;
  font-size: 22px;
  text-align: start;
  padding: 0 12px;
  height: auto;
  transform-origin: left top;
  bottom: auto;
  align-items: flex-start;
}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 600px) {
  ion-card {
    --background: #F2F2F2;
    color: var(--ion-color-primary);
    box-shadow: 0 0 0 0 black;
    border-radius: 0;
    margin: 10px 0;
    ion-card-header {
        padding-bottom: 5px;
        ion-card-title,
        ion-card-subtitle {
            color: var(--ion-color-primary);
            font-size: 22px;
        }
        ion-card-title {
            font-weight: bold;
        }
        ion-card-subtitle {
            font-weight: normal;
        }
    }
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
        --min-height: unset;
        ion-range {
            --bar-height: 7px;
            --bar-background: var(--ion-color-primary);
            --bar-background-active: #666666;
            --knob-background: #999999;
            --knob-size: 12px;
            --bar-border-radius: 20px;
            --height: 20px;
            padding: 0%;
        }
        .range-disabled {
            opacity: 1;
        }
    }
    .endereco {
        margin-bottom: 20px;
    }
    .labelsProgresso {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }
  }

  ion-card:active {
    transform: scale(0.9);
  }

  .quickAccess {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    ion-button {
      height: 100%;
      --padding-end: 0;
      --padding-start: 0;
      --background: var(--ion-color-primary-yellow);
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
    ion-slides {
      // flex: 1;
      // padding: 0 16px;
      ion-slide:active {
        transition: all 0.3s;
        // transform: scale(0.9);
      }
      ion-slide {
        // max-width: 80%;
        // overflow: hidden;
        // white-space: pre;
        // text-overflow: ellipsis;
        div{
          background: var(--ion-color-primary-gradient);
          height: 95px;
          width: 100%;
          border-radius: 20px;
          margin: 0 !important;
          color: var(--ion-color-primary-yellow);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          ion-icon {
            font-size: 36px;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .quickAccess-new {
    display: flex;
    // flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    // padding: 0 10px;
    flex-wrap: wrap;
    div{
      background: var(--ion-color-primary);
      height: 95px;
      width: 49.5%;
      // border-radius: 20px;
      margin: 5px 0;
      color: var(--ion-color-primary-yellow);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ion-icon {
        font-size: 36px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }

  .galeria {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    color: var(--ion-color-primary-yellow);
    h3 {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
    h2{
      color: var(--ion-color-primary);
      position: absolute;
      margin: 0;
      font-size: 20px;
    }
    .fotos {
      // display: grid;
      margin-top: 25px;
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
      .foto-loading{
        height: 194px;
        width: 107px;
        margin: 5px;
        border-radius: 20px;
      }
      .foto {
        height: 194px;
        width: 107px;
        margin: 5px;
        transition: all 0.5s;
        border-radius: 20px;
        background-image: url("https://via.placeholder.com/107x194");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .foto:last-child {
        // opacity: 0.3;
        position: relative;
        overflow: hidden;
      }
      // .foto:last-child:after {
      //   content: "+";
      //   font-size: 50vw;
      //   font-weight: 200;
      //   text-align: center;
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   top: -10%;
      // }
      .foto:last-child {
        // opacity: 0.3;
      }
      .foto:active {
        transform: scale(0.9);
      }
    }
  }

  ::ng-deep {
    .swiper-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media only screen and (min-width: 600px) {
  ion-card {
    // --background: linear-gradient(107deg, var(--ion-color-primary), #999999);
    --background: var(--ion-color-primary-gradient);
    color: var(--ion-color-primary-yellow);
    border-radius:10px;
    ion-card-header {
      padding-bottom: 5px;
      ion-card-title,
      ion-card-subtitle {
        color: var(--ion-color-primary-yellow);
        font-size: 22px;
      }
      ion-card-title {
        font-weight: bold;
      }
      ion-card-subtitle {
        font-weight: lighter;
      }
    }
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --min-height: unset;
      overflow: inherit;
      ion-range {
        --bar-height: 7px;
        --bar-background: var(--ion-color-primary-yellow);
        --bar-background-active: #666666;
        --knob-background: #999999;
        --knob-size: 12px;
        --bar-border-radius: 20px;
        --height: 20px;
        padding: 0%;
      }
      .range-disabled {
        opacity: 1;
      }
    }
    .endereco {
      margin-bottom: 20px;
    }
    .labelsProgresso {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  ion-card:active {
    transform: scale(0.9);
  }

  .quickAccess {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    ion-button {
      height: 100%;
      --padding-end: 0;
      --padding-start: 0;
      --background: var(--ion-color-primary-yellow);
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
    ion-slides {
      flex: 1;
      ion-slide:active {
        transition: all 0.3s;
        transform: scale(0.9);
      }
      ion-slide {
        background: var(--ion-color-primary-gradient);
        height: 170px;
        width: 30% !important;
        border-radius: 20px;
        margin: 0 1% !important;
        color: var(--ion-color-primary-yellow);
        flex-direction: column;
        ion-icon {
          font-size: 36px;
        }
        p {
          font-size: 12px;
          font-weight: lighter;
        }
      }
    }
  }

  .galeria {
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    h3 {
      font-weight: bold;
      color: var(--ion-color-primary);
    }
    h2{
      color: var(--ion-color-primary);
      position: absolute;
      margin: 0;
      font-size: 20px;
    }
    .fotos {
      margin-top: 25px;
      // display: grid;
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
      .foto {
        height: 194px;
        width: 225;
        margin: 5px;
        transition: all 0.5s;
        border-radius: 20px;
        background-image: url("https://via.placeholder.com/107x194");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .foto:last-child {
        // opacity: 0.3;
        position: relative;
        overflow: hidden;
      }
      // .foto:last-child:after {
      //   content: "+";
      //   font-size: 40vw;
      //   font-weight: 200;
      //   text-align: center;
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   top: -45%;
      // }
      .foto:last-child {
        // opacity: 0.3;
      }
      .foto:active {
        transform: scale(0.9);
      }
    }
  }

  ::ng-deep {
    .swiper-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

h3 {
  margin-top: 50px;
  font-weight: bold;
  color: var(--ion-color-primary);
  margin-left: 16px;
}

.new-galeria{
  padding-bottom: 40px;
  margin-bottom: 50px;
  .new-img-galeria{
    height: 350px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

::ng-deep  .mat-expansion-panel-header {
  height: auto !important;
}
::ng-deep .mat-expansion-panel-header,
::ng-deep .mat-expansion-panel,
::ng-deep .mat-expansion-panel-content {
  box-shadow: none !important;
}
::ng-deep .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background: var(--ion-color-primary-gradient);
}