<ion-header mode="ios"
            translucent="true">
  <ion-toolbar>
    <ion-buttons collapse="true"
                 slot="start">
      <ion-icon (click)="back()"
                src="assets/icons/back.svg"
                style="max-width:18px;"
                slot="icon-only"></ion-icon>
    </ion-buttons>
    <ion-buttons collapse="true"
                 slot="end">
      <ion-button (click)="navTo('meus-dados')">
        <p> {{this.userService.getUsuario().nomeCliente | titlecase }} &nbsp;</p>
        <ion-icon src="assets/icons/profile.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Personalizações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios"
             [fullscreen]="true">
  <ion-header mode="ios"
              collapse="condense">
    <ion-toolbar>
      <ion-buttons collapse="true"
                   slot="start">
        <ion-back-button defaultHref="tabs"
                         text=""
                         icon="arrow-back-outline"></ion-back-button>

      </ion-buttons>
      <ion-buttons collapse="true"
                   slot="end">
        <ion-button (click)="navTo('meus-dados')"> {{this.userService.getUsuario().nomeCliente | titlecase }} &nbsp;
          <ion-icon src="assets/icons/profile.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title size="large">Personalizações </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title size="medium">{{this.userService.getUsuario().complemento | titlecase}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngIf="gruposPersonalizacoes?.length==0">
      <ion-card-header>
        <ion-card-subtitle>Nenhuma personalização encontrada.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let personalizacao of gruposPersonalizacoes"
              [routerLink]="'personalizacoes/'+personalizacao.id_grupoEnquete">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="ellipse"
                    *ngIf="!personalizacao.votado"></ion-icon>{{!personalizacao.votado?'Escolher':'Visualizar'}}
        </ion-card-subtitle>
        <ion-card-title>{{personalizacao.grupoEnquete}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="fileSize">{{personalizacao.encerrado?"Finalizado":""}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>