ion-content {
    --background: var(--ion-color-primary);
    .topoMenu {
        display: grid;
        place-items: center;
        color: var(--ion-color-primary-yellow);
        p {
            font-size: 20px;
            margin-bottom: 0;
        }
        ion-icon {
            font-size: 34px;
        }
    }
    ion-list {
        background-color: transparent;
        ion-item {
            --background: transparent;
            font-size: 26px;
            font-weight: thin;
            margin: 10px 0;
            ion-label,
            ion-icon {
                color: var(--ion-color-primary-yellow);
                font-size: 20px;
                font-weight: lighter;
            }
        }
    }
    .bottomList {
        position: absolute;
        bottom: 0;
    }
}
