ion-title.title-large {
  color: var(--ion-color-primary);
  font-weight: bolder;
  font-size: 22px;
}
ion-title.title-medium {
  color: var(--ion-color-primary);
  font-weight: 400;
  font-size: 22px;
  text-align: start;
  padding: 0 16px;
}
// ion-card {
//     --background: var(--ion-color-primary-gradient);
//     color: var(--ion-color-primary-yellow);
//     border-radius: 10px;
//     ion-card-header {
//         padding-bottom: 5px;
//         ion-card-title,
//         ion-card-subtitle {
//             color: var(--ion-color-primary-yellow);
//             font-size: 22px;
//         }
//         ion-card-title {
//             font-weight: bold;
//         }
//         ion-card-subtitle {
//             font-weight: lighter;
//         }
//     }
//     ion-item {
//         --padding-start: 0;
//         --inner-padding-end: 0;
//         --min-height: unset;
//         ion-range {
//             --bar-height: 7px;
//             --bar-background: var(--ion-color-primary-yellow);
//             --bar-background-active: #666666;
//             --knob-background: #999999;
//             --knob-size: 12px;
//             --bar-border-radius: 20px;
//             --height: 20px;
//             padding: 0%;
//         }
//         .range-disabled {
//             opacity: 1;
//         }
//     }
//     .endereco {
//         margin-bottom: 20px;
//     }
//     .labelsProgresso {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//         width: 100%;
//         margin-bottom: 10px;
//     }
// }

ion-card {
  --background: #f2f2f2;
  color: var(--ion-color-primary);
  box-shadow: 0 0 0 0 black;
  border-radius: 0;
  margin: 10px 0;
  ion-card-header {
    padding-bottom: 5px;
    ion-card-title,
    ion-card-subtitle {
      color: var(--ion-color-primary);
      font-size: 22px;
    }
    ion-card-title {
      font-weight: bold;
    }
    ion-card-subtitle {
      font-weight: normal;
    }
  }
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --min-height: unset;
    ion-range {
      --bar-height: 7px;
      --bar-background: var(--ion-color-primary);
      --bar-background-active: #666666;
      --knob-background: #999999;
      --knob-size: 12px;
      --bar-border-radius: 20px;
      --height: 20px;
      padding: 0%;
    }
    .range-disabled {
      opacity: 1;
    }
  }
  .endereco {
    margin-bottom: 20px;
  }
  .labelsProgresso {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
}

ion-card:active {
  transform: scale(0.9);
}
